# use load_dotenv('/path/to/your/.env') to load environment variables

# localhost server
# MODEL_NAME = "Qwen2.5-7B-Instruct"
# OPENAI_API_KEY = "EMPTY"
# OPENAI_API_BASE = "http://localhost:8000/v1"

# claude37_sonnet
MODEL_NAME = "claude37_sonnet"
OPENAI_API_KEY = "xxxx"
OPENAI_API_BASE = "xxxx"